#cloud-config
write_files:
  - path: /etc/etcd/etcd.conf
    content: |
      ETCD_NAME=${etcd_name}
      ETCD_DATA_DIR=/var/lib/etcd
      ETCD_ADVERTISE_CLIENT_URLS=https://${domain_name}:2379
      ETCD_INITIAL_ADVERTISE_PEER_URLS=https://${domain_name}:2380
      ETCD_LISTEN_CLIENT_URLS=https://0.0.0.0:2379
      ETCD_LISTEN_PEER_URLS=https://0.0.0.0:2380
      ETCD_LISTEN_METRICS_URLS=http://0.0.0.0:2381
      ETCD_INITIAL_CLUSTER=${etcd_initial_cluster}
      ETCD_STRICT_RECONFIG_CHECK=true
      ETCD_TRUSTED_CA_FILE=/etc/ssl/certs/etcd/server-ca.crt
      ETCD_CERT_FILE=/etc/ssl/certs/etcd/server.crt
      ETCD_KEY_FILE=/etc/ssl/certs/etcd/server.key
      ETCD_CLIENT_CERT_AUTH=true
      ETCD_PEER_TRUSTED_CA_FILE=/etc/ssl/certs/etcd/peer-ca.crt
      ETCD_PEER_CERT_FILE=/etc/ssl/certs/etcd/peer.crt
      ETCD_PEER_KEY_FILE=/etc/ssl/certs/etcd/peer.key
      ETCD_PEER_CLIENT_CERT_AUTH=true
  - path: /etc/systemd/system/kubelet.service.d/10-typhoon.conf
    content: |
      [Unit]
      Wants=rpc-statd.service
      [Service]
      ExecStartPre=/bin/mkdir -p /opt/cni/bin
      ExecStartPre=/bin/mkdir -p /etc/kubernetes/manifests
      ExecStartPre=/bin/mkdir -p /etc/kubernetes/cni/net.d
      ExecStartPre=/bin/mkdir -p /etc/kubernetes/checkpoint-secrets
      ExecStartPre=/bin/mkdir -p /etc/kubernetes/inactive-manifests
      ExecStartPre=/bin/mkdir -p /var/lib/cni
      ExecStartPre=/bin/mkdir -p /var/lib/kubelet/volumeplugins
      ExecStartPre=/usr/bin/bash -c "grep 'certificate-authority-data' /etc/kubernetes/kubeconfig | awk '{print $2}' | base64 -d > /etc/kubernetes/ca.crt"
      Restart=always
      RestartSec=10
  - path: /etc/kubernetes/kubelet.conf
    content: |
      ARGS="--anonymous-auth=false \
        --authentication-token-webhook \
        --authorization-mode=Webhook \
        --client-ca-file=/etc/kubernetes/ca.crt \
        --cluster_dns=${k8s_dns_service_ip} \
        --cluster_domain=${cluster_domain_suffix} \
        --cni-conf-dir=/etc/kubernetes/cni/net.d \
        --exit-on-lock-contention \
        --hostname-override=${domain_name} \
        --kubeconfig=/etc/kubernetes/kubeconfig \
        --lock-file=/var/run/lock/kubelet.lock \
        --network-plugin=cni \
        --node-labels=node-role.kubernetes.io/master \
        --node-labels=node-role.kubernetes.io/controller="true" \
        --pod-manifest-path=/etc/kubernetes/manifests \
        --register-with-taints=node-role.kubernetes.io/master=:NoSchedule \
        --volume-plugin-dir=/var/lib/kubelet/volumeplugins"
  - path: /etc/systemd/system/kubelet.path
    content: |
      [Unit]
      Description=Watch for kubeconfig
      [Path]
      PathExists=/etc/kubernetes/kubeconfig
      [Install]
      WantedBy=multi-user.target
  - path: /var/lib/bootkube/.keep
  - path: /etc/NetworkManager/conf.d/typhoon.conf
    content: |
      [main]
      plugins=keyfile
      [keyfile]
      unmanaged-devices=interface-name:cali*;interface-name:tunl*
  - path: /etc/selinux/config
    owner: root:root
    permissions: '0644'
    content: |
      SELINUX=permissive
      SELINUXTYPE=targeted
bootcmd:
  - [setenforce, Permissive]
  - [systemctl, disable, firewalld, --now]
  # https://github.com/kubernetes/kubernetes/issues/60869
  - [modprobe, ip_vs]
runcmd:
  - [systemctl, daemon-reload]
  - [systemctl, restart, NetworkManager]
  - [hostnamectl, set-hostname, ${domain_name}]
  - "atomic install --system --name=etcd quay.io/poseidon/etcd:v3.3.9"
  - "atomic install --system --name=kubelet quay.io/poseidon/kubelet:v1.11.2"
  - "atomic install --system --name=bootkube quay.io/poseidon/bootkube:v0.13.0"
  - [systemctl, start, --no-block, etcd.service]
  - [systemctl, enable, kubelet.path]
  - [systemctl, start, --no-block, kubelet.path]
users:
  - default
  - name: fedora
    gecos: Fedora Admin
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: wheel,adm,systemd-journal,docker
    ssh-authorized-keys:
      - "${ssh_authorized_key}"
