#cloud-config
write_files:
  - path: /etc/systemd/system/cloud-metadata.service
    content: |
      [Unit]
      Description=Cloud metadata agent
      [Service]
      Type=oneshot
      Environment=OUTPUT=/run/metadata/cloud
      ExecStart=/usr/bin/mkdir -p /run/metadata
      ExecStart=/usr/bin/bash -c 'echo "HOSTNAME_OVERRIDE=$(curl\
        -H "Metadata-Flavor: Google"\
        --url http://metadata.google.internal/computeMetadata/v1/instance/hostname\
        --retry 10)" > $${OUTPUT}'
      [Install]
      WantedBy=multi-user.target
  - path: /etc/systemd/system/kubelet.service.d/10-typhoon.conf
    content: |
      [Unit]
      Requires=cloud-metadata.service
      After=cloud-metadata.service
      Wants=rpc-statd.service
      [Service]
      ExecStartPre=/bin/mkdir -p /opt/cni/bin
      ExecStartPre=/bin/mkdir -p /etc/kubernetes/manifests
      ExecStartPre=/bin/mkdir -p /etc/kubernetes/cni/net.d
      ExecStartPre=/bin/mkdir -p /var/lib/cni
      ExecStartPre=/bin/mkdir -p /var/lib/kubelet/volumeplugins
      ExecStartPre=/usr/bin/bash -c "grep 'certificate-authority-data' /etc/kubernetes/kubeconfig | awk '{print $2}' | base64 -d > /etc/kubernetes/ca.crt"
      Restart=always
      RestartSec=10
  - path: /etc/kubernetes/kubelet.conf
    content: |
      ARGS="--anonymous-auth=false \
        --authentication-token-webhook \
        --authorization-mode=Webhook \
        --client-ca-file=/etc/kubernetes/ca.crt \
        --cluster_dns=${k8s_dns_service_ip} \
        --cluster_domain=${cluster_domain_suffix} \
        --cni-conf-dir=/etc/kubernetes/cni/net.d \
        --exit-on-lock-contention \
        --kubeconfig=/etc/kubernetes/kubeconfig \
        --lock-file=/var/run/lock/kubelet.lock \
        --network-plugin=cni \
        --node-labels=node-role.kubernetes.io/node \
        --pod-manifest-path=/etc/kubernetes/manifests \
        --volume-plugin-dir=/var/lib/kubelet/volumeplugins"
  - path: /etc/kubernetes/kubeconfig
    permissions: '0644'
    content: |
      ${kubeconfig}
  - path: /etc/NetworkManager/conf.d/typhoon.conf
    content: |
      [main]
      plugins=keyfile
      [keyfile]
      unmanaged-devices=interface-name:cali*;interface-name:tunl*
  - path: /etc/selinux/config
    owner: root:root
    permissions: '0644'
    content: |
      SELINUX=permissive
      SELINUXTYPE=targeted
bootcmd:
  - [setenforce, Permissive]
  - [systemctl, disable, firewalld, --now]
  # https://github.com/kubernetes/kubernetes/issues/60869
  - [modprobe, ip_vs]
runcmd:
  - [systemctl, daemon-reload]
  - [systemctl, restart, NetworkManager]
  - [systemctl, enable, cloud-metadata.service]
  - "atomic install --system --name=kubelet quay.io/poseidon/kubelet:v1.11.2"
  - [systemctl, start, --no-block, kubelet.service]
users:
  - default
  - name: fedora
    gecos: Fedora Admin
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: wheel,adm,systemd-journal,docker
    ssh-authorized-keys:
      - "${ssh_authorized_key}"
