{% extends "base.html" %}

{% block extrahead %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@typhoon8s">
  <meta name="twitter:creator" content="@dghubble">
  <meta name="twitter:title" content="Minimal and free Kubernetes clusters">
  <meta name="twitter:description" content="Kubernetes clusters for AWS, Azure, bare-metal, Google Cloud, and DigitalOcean">
  <meta name="twitter:image" content="https://storage.googleapis.com/poseidon/typhoon-twitter-card.png">
{% endblock %}
